{
  "sourceMaps": "both",
  "plugins": ["transform-runtime", "transform-object-rest-spread"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    ["flow"]
  ],
  "retainLines": true,
  "env": {
    "production": {
      "plugins": ["source-map-support"],
      "ignore": ["**/__tests__/**", "**/__mocks__/**", "*.test"]
    }
  }
}
